@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --tamanho--sidebar: 260px;
}


body,
ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;

}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

body {

  font-family: 'Poppins', sans-serif;
  background-color: #1B264F;
}

.container {
  position: relative;
  padding: 0 1.5rem;
  display: grid;
  grid-template-columns: var(--tamanho--sidebar) 1fr;
  min-height: 100vh;
}




.sidebar {
  width: 100%;
  padding: 2rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 100;
  background-color: #274690;
  max-width: var(--tamanho--sidebar);

  .menu--icon {
    display: flex;
    align-self: flex-start;
    background-color: #fff;
    padding: .5rem;
    border: none;
    outline: none;
    cursor: pointer;

    svg {
      width: 24px;

    }
  }


  .sidebar--menu {
    margin-top: 2rem;

    li {

      &+li {
        margin-top: .5rem;
      }

      a {
        display: inline-flex;
        align-items: center;
        color: #fff;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 36px;

        img {
          width: 24px;
          margin-right: .5rem;
        }
      }
    }

  }


}

.content {
  padding: 4rem 0;
  position: relative;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    height: 100%;
    place-items: center;

    @media (max-width: 540px) {
      display: flex;
      flex-direction: column;
      grid-gap: 0;
    }


    .item {
      display: flex;
      flex-direction: column;
      position: relative;
      border-radius: 4px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      background-color: #fff;


      &+.item {
        @media (max-width: 540px) {
          margin-top: 4rem;
        }

      }

      .plataforma {
        position: absolute;
        top: -24px;
        background-color: #576CA8;
        color: #fff;
        padding: .5rem 1rem;
        border-radius: 4px;
        font-size: .875rem;
      }

      .imagem--jogo {
        img {
          object-fit: contain;
          width: 100%;
        }
      }

      .informacoes--jogo {
        padding: 1.125rem 1.125rem 0 1.125rem;

        .titulo {
          font-size: 1rem;
          font-weight: 600;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          /* number of lines to show */
          line-clamp: 1;
          -webkit-box-orient: vertical;

        }

        .preco-nav {
          display: flex;
          justify-content: space-between;
          padding-top: .5rem;

          .tipo {
            background-color: #576CA8;
            padding: .5rem;
            font-size: .75rem;
            border-radius: 4px;
            color: #fff;
          }

          .preco {
            font-weight: 600;
            color: #1B264F;
            display: inline-flex;
            align-items: center;

            span {
              display: block;
              margin-left: .25rem;
              text-decoration: line-through;
              font-size: .875rem;
              color: #000;
              font-weight: 500;
            }
          }
        }

        .descricao {
          margin-top: .5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          /* number of lines to show */
          line-clamp: 2;
          -webkit-box-orient: vertical;
          font-size: 1rem;
          font-weight: 400;

        }
      }

      .btn--container {
        display: flex;
        justify-content: center;
        margin-top: auto;
        padding: 1rem 1.125rem 1.125rem 1.125rem;

        .btn--pegar {
          border-radius: 4px;
          outline: none;
          border: none;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          max-width: 250px;
          width: 100%;
          padding: .75rem 1rem;
          color: #fff;
          background-color: #576CA8;
        }
      }
    }
  }

  .loader--container {
    margin: 0 auto;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;

    &.ativo {
      display: flex;
      height: 100%;
    }

    .loader {
      width: 48px;
      height: 48px;
      border: 3px solid #FFF;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-flex;
      ;
      position: relative;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }

    .loader::after {
      content: '';
      position: absolute;
      box-sizing: border-box;
      left: 20px;
      top: 31px;
      border: 10px solid transparent;
      border-right-color: #FFF;
      transform: rotate(-40deg);
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

}

.error--message {
  display: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100%;
  font-size: 2rem;
}

.error--message.temErro {
  display: flex;
}