@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './components/sidebar';
@import './components/modal';
@import './components/cards.scss';
@import './components/loader';




:root {
  --tamanho--sidebar: 260px;

}

html {
  overflow-x: hidden;

  --font-base: 100%;
  font-size: var(--font-base);
}

@media (max-width: 1440px) {
  html {
    font-size: calc(var(--font-base) - 25.25%);
  }
}

@media (max-width: 980px) {
  html {
    font-size: calc(var(--font-base) - 20.5%);
  }
}

body,
ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;

}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #1B264F;
  transition: background .3s ease;
}



.container {
  position: relative;
  padding: 0 1.5rem;
  display: grid;
  grid-template-columns: var(--tamanho--sidebar) 1fr;
  min-height: 100vh;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 88px)
  }
}

.content {
  padding: 4rem 0;
  position: relative;

  @media(max-width: 1024px) {
    padding: 3rem 0;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-gap: 2rem;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
      grid-gap: 2rem;
    }

    @media (max-width: 540px) {
      display: flex;
      flex-direction: column;
      grid-gap: 0;
    }


  }

  .loader--container,
  .loader--modal {
    margin: 0 auto;
    width: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;

    &.ativo {
      display: flex;
      height: 100%;
    }


  }

  .nome--loja {
    color: #fff;
    font-size: 2rem;
    padding-bottom: 3rem;
  }
}

.error--message {
  display: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100%;
  font-size: 2rem;

  @media (max-width: 1024px) {
    font-size: 1.5rem;
    text-align: center;

  }
}

.error--message.temErro {
  display: flex;
}



