.item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: #fff;
  transition: .3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
  }

  &+.item {
    @media (max-width: 540px) {
      margin-top: 2rem;
    }

  }

  .plataforma {
    position: absolute;
    top: -24px;
    background-color: #576CA8;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 4px;
    font-size: .875rem;
  }

  .imagem--jogo {
    img {
      object-fit: contain;
      width: 100%;
    }
  }

  .informacoes--jogo {
    padding: 1.125rem 1.125rem 0 1.125rem;

    .titulo {
      font-size: 1rem;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      /* number of lines to show */
      line-clamp: 1;
      -webkit-box-orient: vertical;

    }

    .preco-nav {
      display: flex;
      justify-content: space-between;
      padding-top: .5rem;

      .tipo {
        background-color: #b5b5b5;
        padding: .5rem;
        font-size: .75rem;
        border-radius: 4px;
        color: #fff;
      }

      .preco {
        font-weight: 600;
        color: #1B264F;
        display: inline-flex;
        align-items: center;

        span {
          display: block;
          margin-left: .25rem;
          text-decoration: line-through;
          font-size: .875rem;
          color: #000;
          font-weight: 500;
        }
      }
    }

    .descricao {
      margin-top: .5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 1rem;
      font-weight: 400;

    }

    .ver--mais {
      border: none;
      outline: none;
      display: inline-flex;
      font-size: .75rem;
      font-weight: 600;
      margin-bottom: 1rem;
      background-color: #576ca8;
      color: #fff;
      padding: .5rem 1rem;
      border-radius: 4px;
      margin-top: .5rem;
      cursor: pointer;
      transition: .3s ease;

      &:hover {
        background-color: #425280;
      }
    }
  }

  .btn--container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 1rem 1.125rem 1.125rem 1.125rem;

    .btn--pegar {
      border-radius: 4px;
      outline: none;
      border: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      width: 100%;
      padding: .75rem 1rem;
      color: #fff;
      background-color: #274690;
      transition: .3s ease;

      &:hover,
      &:focus {
        box-shadow: 0 0.5em 0.5em -0.4em #274690;
        transform: translateY(-0.25em);
      }
    }
  }
}