.header--mobile {
  background-color: #274690;
  width: 100%;
  z-index: 100;
  padding: 2rem 1.5rem;
  display: none;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  top: 0;
  transition: .3s ease;


  @media(max-width: 1024px) {
    display: flex;

  }

  .logo {
    transition: .3s ease;
    img{
      max-width: 180px;
    }
  }

  .menu--icon {
    display: flex;
    align-self: flex-start;
    background-color: #fff;
    padding: .5rem;
    border: none;
    outline: none;
    cursor: pointer;

    svg {
      width: 24px;

    }
  }

  .icone--menu {
    border-top: 2px solid #fff;
    width: 32px;
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 101;

    &::after,
    &::before {
        content: "";
        display: block;
        background: #fff;
        width: 32px;
        height: 2px;
        margin-top: 8px;
        position: relative;
        transition: transform .2s ease;
        will-change: transform;
        border-radius: 8px;
    }
      }

}

.sidebar {
  width: 100%;
  padding: 32px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 100;
  background-color: #274690;
  max-width: var(--tamanho--sidebar);

  @media (max-width: 1024px) {
    position: fixed;
    top: 88px;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 88px);
    padding: 0 1rem 2rem 1rem;
    max-width: 100%;
    transform: translateX(100vw);
    transition: .3s ease .2s;
  }

  .logo {
    color: #fff;
    display: flex;
    flex-direction: column;

    @media(max-width: 1024px) {
      display: none;
    }

    a {
      font-weight: 700;
      font-size: 1.375rem;
    }

    p {
      margin-top: .5rem;
      font-size: .875rem;

    }
  }

  .menu--icon {
    display: flex;
    align-self: flex-start;
    background-color: #fff;
    padding: .5rem;
    border: none;
    outline: none;
    cursor: pointer;

    svg {
      width: 24px;

    }
  }


  .sidebar--menu {
    height: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    @media (max-width: 1024px) {
      align-items: flex-end;
    }

    li {

      &+li {
        margin-top: .5rem;
      }

      a {
        display: inline-flex;
        align-items: center;
        color: #F5F3F5;
        font-weight: 500;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 36px;
        transition: .3s ease;

        @media(max-width: 1024px) {
          font-size: 1.5rem;

        }

        &:hover {
          color: #576CA8;

          @media(max-width: 1024px) {
            font-size: 1.5rem;
            color: #302B27;
          }

        }

        &.link-ativo {
          color: #576CA8;

          @media(max-width: 1024px) {
            color: #302B27;
          }

        }

        img {
          width: 24px;
          margin-right: .5rem;
        }
      }
    }

  }

  .footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    @media(max-width: 1024px) {
      align-items: center;
      margin-top: 2rem;
    }

    p {
      color: #f5f3f5;
      font-size: .75em;

    }



    .social {
      display: flex;
      margin: 1rem 0;

      a {
        display: inline-flex;
        transition: transform .3s ease;
        padding: .5rem;

        &:hover {
          transform: translateY(-5px);
        }

        img {
          max-width: 32px;
        }
      }
    }

    .api-dedicacao {
      font-size: .625rem;

      a {
        color: red;
      }

    }
  }

}


body.filtro-show {
  .header--mobile {
    position: fixed;
    background-color: #576ca8;
    .logo{
      transform: translateX(-100vw);
    }
  }

  .sidebar {
    background-color: #576ca8;
    transform: translateX(0);

  }

    
  .icone--menu {
  border-top: transparent !important;
}

  .icone--menu::after {
  transform: rotate(135deg);
  top: -10px;
}

  .icone--menu::before {
  transform: rotate(-135deg);
}


}